<section id="quienes" class="w-full py-14 text-white">
  <div
    class="max-w-6xl mx-auto px-6 grid grid-cols-1 md:grid-cols-2 gap-16 items-center"
  >

    <div class="flex justify-center fade-down" style="animation-delay: 0.3s;">
      <img
        src="/images/2.webp"
        alt="Nuestro equipo"
        class="rounded-2xl shadow-xl w-full max-w-md object-cover opacity-90 hover:opacity-100 transition"
      />
    </div>


    <div class="fade-down">
      <h2 class="text-4xl md:text-5xl font-extrabold mb-6">¿Quiénes Somos?</h2>

      <p class="text-lg leading-relaxed text-gray-300 mb-6">
        Somos <span class="font-semibold text-white">London Studio</span> un
        estudio creativo con más de 6 años de experiencia en el mundo
        audiovisual y digital. Hemos trabajado junto a marcas, emprendedores y
        empresas que buscan encontrar su identidad, diferenciarse y comunicar de
        forma auténtica en un entorno cada vez más visual y competitivo.
      </p>

      <p class="text-lg leading-relaxed text-gray-300 mb-8">
        Nos especializamos en transformar ideas, necesidades y conceptos en
        piezas visuales estratégicas: contenido que no solo se ve bien, sino que
        conecta, emociona y genera resultados medibles. Creemos en el poder de
        la creatividad cuando está alineada con los objetivos reales de una
        marca.
      </p>

      <p class="text-lg leading-relaxed text-gray-300 mb-6">
        En <span class="font-semibold text-white">London Studio</span>,
        combinamos producción audiovisual, desarrollo web, diseño, animación,
        fotografía y marketing digital para construir mensajes claros,
        coherentes y con impacto.
      </p>

      <h4 class="text-xl font-semibold">
        ¡Bienvenidos a nuestro mundo creativo. Bienvenidos a Londo Studio!
      </h4>

      <br>

      <a
      href="#servicios"
      class="fade-up inline-block bg-white/10 backdrop-blur-xl border border-white/20 px-10 py-3 rounded-full text-white font-medium hover:bg-white/20 transition-all duration-300 button-glow"
      style="animation-delay: 0.6s;"
    >
      Ver nuestros servicios
    </a>
    </div>
  </div>
</section>
