---
// Layout base para usar Header y Footer en Astro
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>London Studio</title>
    <link rel="icon" type="image/png" href="/images/log0-icon.png" sizes="256x256">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cal+Sans&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
  </head>

  <body class="min-h-screen flex flex-col bg-gradient-to-b from-[#1E9B5F] to-[#024653] text-white">
    <Header />

    <main class="pt-24 max-w-6xl block mx-auto px-6 flex-1">
      <slot />
    </main>

    <Footer />
  </body>
</html>
